// Entry point for application specific styles

.huge {
	font-size: 10rem;
}

.minor-0 { background-color: rgb(224, 16, 107); }
.minor-1 { background-color: rgb(90, 34, 220); }
.minor-2 { background-color: rgb(134, 200, 43); }
.minor-3 { background-color: rgb(255, 111, 0); }
    